html {
    font-size: 10px;
    font-family: 'S-CoreDream-4Regular';
    color: #222;
}

@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-5Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Freesentation-9Black';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-6Black.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

header {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #222;
    
    .intro {
        color: #fff;
        margin: 0 30rem;
        
        .intro-wrap {
            position: absolute;
            align-items: center;
            /* text-align: center; */
            top: 50%;
            transform: translate(0, -50%);
            line-height: 1.5;
        }
        
        .intro-tit {
            font-size: 10rem;
            font-family: 'Freesentation-9Black';
        }

        .intro-content {
            font-size: 2rem;
        }
    }

    .scroll-down {
        position: absolute;
        bottom: 0;
        color: #fff;
        font-size: 1.4rem;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 2rem;
    }
    
    .navi {
        position: fixed;
        width: 100%;
        z-index: 999;

        ul {
            display: flex;
            font-size: 3rem;
            justify-content: right;
            background-color: #222;
            padding: 0 3rem;

            button {
                display: inline-block;
                line-height: 3;
                padding: 0 3rem;
                color: #fff;
                font-size: 2rem;
                transition: .3s;
                background: transparent;
                border: none;
            }

            button:hover {
                transform: scale(1.1);
            }
        }
    }
}

main {
    background-color: #fff;
    padding: 3rem;
    gap: 3rem;
    
    .about {
        width: 128rem;
        margin: 0 auto;
        position: relative;
        height: 100vh;

        .about-tit {
            font-family: 'Freesentation-9Black';
            font-size: 5rem;
            text-align: center;
        }
    }

    .profile-wrap {
        display: flex;
        margin: 7rem;
    }

    .profile {
        display: flex;
        flex-direction: column;
        width: fit-content;
        margin-right: 7rem;
        text-align: center;
        gap: .5rem;

        .box {
            background-color: #ccc;
            width: 40rem;
            height: 50rem;
            margin-bottom: 1rem;
        }

        .name {
            font-size: 2rem;
        }

        .eng-name {
            color: #9b9b9b;
        }

        .birth {
            font-size: 1.3rem;
        }
    }

    .profile2 {
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2 {
            font-size: 2.3rem;
            font-family: 'Freesentation-9Black';
        }

        ul {
            li {
                margin-left: 2rem;
                font-size: 1.6rem;
                display: flex;
                flex-direction: column;
                line-height: 2;
                position: relative;
            
                &::before {
                    content: "";
                    width: 1rem;
                    height: 1rem;
                    border-radius: 100%;
                    background-color: #222;
                    position: absolute;
                    left: -2rem;
                    top: 1rem;
                }
            }
        }
        
        .education {
            margin-bottom: 3rem;
            position: relative;

            &::before{
                content: "";
                position: absolute;
                width: .2rem;
                height: 6rem;
                background-color: #222;
                left: .4rem;
                top: 10%;
            }

            .edu-cont {
                font-size: 1.4rem;
                color: #5c5c5c;
                margin-left: 2rem;
            }
        }
    }

    .profile3 {
        font-size: 1.8rem;
        display: flex;
        align-items: center;
        margin-left: 5rem;
        
        .introduce {
            text-align: center;
            width: 30rem;
            line-height: 3rem;
            padding: 1rem;
            /* border: 1px solid #222; */

            p {

            }
        }
    }
}

.portfolio {
    background-color: #fff;
    color: #222;
    height: 100vh;

    .portfolio-wrap {
        margin: 0 auto;
        width: 128rem;
    }

    h2 {
        font-size: 5rem;
        text-align: center;
        padding: 3rem;
        font-family: 'Freesentation-9Black';
    }

    .portfolio-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5rem;
        
        .port-tit {
            font-size: 3rem;
            font-weight: bold;
        }
        
        li {
            width: calc(50% - 2.5rem);

            .site-img {
                background-color: #5c5c5c;
                display: block;
                width: 60rem;
                height: 40rem;
                border-radius: 2rem;
                transition: .3s;

                &:hover {
                    box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
                }
            }

            p {
                line-height: 2;
                font-size: 1.5rem;
            }

            .button-box {
                gap: 2rem;
                display: flex;

                li {
                    width: auto;
                }

                .link-btn {
                    display: block;
                    line-height: 2;
                    font-size: 1.4rem;
                    padding: .5rem;
                    margin: 1rem 0;
                    cursor: pointer;
                    background-color: #fff;
                    border: 1px solid #222;
                    color: #222;

                    &:hover {
                        background-color: #222;
                        color: #fff;
                    }
                }
            }
        }
    }
}
