* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0;
}

.hide {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip-path: polygon(0 0,0 0,0 0);
}

.main-box {
    background: url(/기아타이거즈-역사관/img/kia-background.png) no-repeat center / cover;
    padding-bottom: 100px;
    margin-bottom: 50px;
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 1); */
}

.history-wrap {
    width: 1100px;
    margin: 0 auto;
    position: relative;
}

.history-header {
    /* height: 120px; */
    background-image: url(img/header-bg2.png);
    background-repeat: no-repeat;
    text-align: center;
    padding: 20px;
    margin-bottom: 80px;
    border-radius: 20px;

    .history-logo {
        background-image: url(img/KIA-logo.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        width: 75px; height: 55px;
        margin: 0 auto;
    }
    
    .history {
        font-size: 20px;
        color: #fff;
    }
}

.history-list-wrap {
    margin-bottom: 100px;
    
    .history-list {
        margin: 0 auto;
        display: flex;
        width: 880px;
        justify-content: space-between;
    }

    .history-button {
        background-image: url(img/history-list-btn.png);
        width: 168px; 
        line-height: 33px;
        color: #fff;
        position: relative;

        &:hover {
            background-image: url(img/history-list-btn-on.png);
        }

        &::after {
            content: "";
            width: 14px; height: 7px;
            background: url(img/link-arrow.svg) no-repeat center / 100%;
            position: absolute;
            right: 16px;
            top: calc(50% - 3.5px);
        }
    }

    .history-button.on {
        background-image: url(img/history-list-btn-on.png);
    }
}

.title-box {
    margin-bottom: 25px;

    .main-title {
        margin: 0;
    }
}

.main-title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 25px;
}

.history-show {
    position: absolute;

    background-color: #fff;
    width: 960px;
    border-radius: 10px;
    display: none;
    left: calc(50% - 480px);
    margin-top: 25px;
    z-index: 99;
    height: fit-content;

    padding: 43px;

    .header-button {
        display: flex;
        width: fit-content;
        
        margin: 0 auto;
        margin-bottom: 16px;

        button {
            height: 27px;
            text-align: center;
            outline: 1px solid #d4d4d4;
            background-color: #fff;
        }
        
        button.year-active {
            background-color: #05141f;
            color: #fff;
        }
    }
    
    .record-list-button {
        button {
            width: 85px;
        }
        
    }
    
    .inner-box {
        margin-top: 20px;
        width: fit-content;
        display: none;
        
        .inner-wrap {
            margin: 0 auto;
            padding: 12px;
            gap: 12px;
            
            align-items: center;
            border: 1px solid #cccccc;
            display: flex;
            background-color: #ebebeb;
        }
        
        .image-box {
            width: 410px;
            height: 260px;

            img {
                background-size: cover;
            }
        }

        .text-box {
            width: 425px;
            height: 260px;
            border: 1px solid #e4e4e4;
            background-color: #fff;
            overflow-y: auto;
            text-align: justify;

            padding: 15px;
            font-size: 14px;
        }

        .navi-box {
            width: 100%;
            padding: 9px 30px;
            border: 1px solid #b8b7b7;
            display: flex;

            .thumb-list {
                display: flex;
                justify-content: left;
                gap: 3px;

                .thumb-img-btn {
                    display: block;
                    width: 80px; height: 50px;
                    background-size: cover;
                }

                .on {
                    outline: 2px solid #f00;
                }
            }
        }
    }

    .inner-box.active {
        display: block;
    }

    /* 닫기버튼 */
    .close {
        width: 36px; height: 36px;
        background-color: transparent;
        background-image: url(img/close_btn.png);
        position: absolute;
        right: -36px; top: -36px;
    }

    .title-box {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-bottom: 20px;
        
        .prev,
        .next {
            display: block;
            width: 36px;
            height: 36px;
            background: url(img/prev.png) center / 100%;
        }

        .next {
            background: url(img/next.png) center / 100%;
        }
    }
}

.history-year button {
    width: 85px;
}

.history-intro {
    margin-bottom: 200px;

    .history-image {
        display: flex;
        margin: 0 auto;
        width: 900px;
        justify-content: space-between;

        li {
            a {
                background-image: url(img/history-img.png);
                width: 148px;
                height: 227px;
                display: block;
                position: relative;

                .history-thumb {
                    width: 130px;
                    height: 180px;
                    background-image: url(img/img_1982_01.jpg);
                    margin: 0 auto;
                    position: absolute;
                    left: calc(50% - 65px); top: 10px;
                }
                
                span {
                    color: #000;
                    font-size: 15px;
                    position: absolute;
                    bottom: 10px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }

            &:nth-child(2) .history-thumb {
                background-image: url(img/img_1983_01.jpg);
            }

            &:nth-child(3) .history-thumb {
                background-image: url(img/img_1982_02.jpg);
            }

            &:nth-child(4) .history-thumb {
                background-image: url(img/img_1982_03.jpg);
            }

            &:nth-child(5) .history-thumb {
                background-image: url(img/img_1982_04.jpg);
            }
        }
    }
    
    .title {
        font-size: 52px;
        text-align: center;
        margin-top: 90px;
        color: #fff;
    }
    
    p {
        margin-top: 30px;
        font-size: 16px;
        text-align: center;
        color: #b8b7b7;
    }
}

.BI-history-wrap {
    background-color: #f6f6f6;
    display: flex;
    height: 472px;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    .BI-img {
        width: 425px;
        height: 450px;
        background-color: #fff;
        outline: 1px solid #b8b7b7;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .BI-list-wrap {
        width: 423px;
        height: 450px;
        background-color: #fff;
        outline: 1px solid #b8b7b7;
        overflow-y: auto;
        padding: 30px;

        .bi-tit {
            background-color: #ea0029;
            font-size: 12px;
            color: #fff;
            text-align: center;
            display: block;
            width: 132px;
            line-height: 28px;
            border-radius: 4px;
            margin-bottom: 10px;
        }
    }

    .BI-list {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
        margin-bottom: 30px;
    }

    .BI-thumb {
        width: 60px;
        height: 60px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border: 1px solid #b8b7b7; /* .bi-logo의 border 스타일을 이리로 옮김 */
        cursor: pointer;
        display: block;
    }

    .BI-thumb.on {
        box-shadow: 0 0 0 2px #ea0029 inset;
        border: 1px solid #ea0029; /* .bi-logo의 border 스타일을 이리로 옮김 */
    }
}

.player-list-wrap {
    background-color: #f6f6f6;
    width: 100%;

    height: 400px;
    border-top: 2px solid #000;
    padding: 10px;
    overflow-y: auto;
    height: 370px;
}

.table-box,
.record-table {
    width: 835px;
    background-color: #e4e4e4;
    font-size: 14px;
    text-align: center;
    border-spacing: 0; /*셀과 셀 사이 모든 여백이 제거됨*/
    border-collapse: collapse; /*선을 하나로 표현*/
    display: none;

    th {
        border: 1px solid #0f224a;
        width: 120px;
        background-color: #05141f;
        color: #fff;
        line-height: 40px;
    }
    
    td {
        vertical-align: top;
        border: 1px solid #dbdbdb;
        width: 120px;
        padding: 5px;
        background-color: #fff;
        
        &:first-child {
            background-color: #f8f8f8;
        }
    }
}

.record-table.active,
.table-box.active {
    display: block;
}

.history-player button {
    width: 85px;
}

.history-player button.player-active {
    background-color: #05141f;
    color: #fff;
}

.record-list-button button.record-active {
    background-color: #05141f;
    color: #fff;
}

.record-menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    line-height: 40px;
    border-top: 1px solid #e6e6e6;
    
    a {
        display: block;
        color: #000;
        font-size: 16px;
        position: relative;
    }

    .active {
        &::before {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            bottom: 0;
            left: calc(50% - 2.5px);
            border-bottom: 5px solid #05141f;
            border-top: 5px solid transparent;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
        }
    }
}

.record-list-wrap {
    border-top: 3px solid #05141f;
    background-color: #f6f6f6;
    padding: 10px;
    height: 378px;
    overflow-y: scroll;

    .record-table {
        margin: 0 auto;
        
        thead {
            color: #fff;
        }
        
        th, td {
            width: fit-content;
            padding: 5px 0;
            font-size: 13px;
            vertical-align: middle;
        }

        tbody th, td {
            color: #464646;
        }
    }
}

.media-list-button {
    li {
        button {
            width: 179px;
        }
    }
}
